@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is our Auction Site Test</p>
    <p><a href="https://www.chsfl.org/history/" class="btn btn-primary btn-lg">About Us</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Silent Auction Items</h2>
        <p>
           Here you can view all silent auction items.
        </p>
        <p><a class="btn btn-default" href="./SilentAuction">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Auctions</h2>
        <p>Here you can view live auction items</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Events</h2>
        <p>Here you can view other events going on.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>