@{

    ViewBag.Title = "Add a Donation";

}



<h2>NewItem</h2>

<form>

    <div class="form-group">

        <label for="itemName">Item Name</label>

        <input type="text" class="form-control" id="itemName" placeholder="Item Name" required />

    </div>

    <div class="form-group">

        <label for="picture">Item Image</label>

        <input type="file" class="form-control" id="picture" />

    </div>

    <div class="form-group">

        <label for="desc">Item Description</label>

        <textarea class="form-control" id="desc" placeholder="Item Description" required></textarea>

    </div>

    <div class="form-group">

        <label for="category">Category</label>

        <select class="form-control" id="category" required>

            <option value="" selected disabled>Select One</option>

            <option value="ticket">Ticket</option>

            <option value="art">Artwork</option>

            <option value="clothes">Clothing</option>

            <option value="other">Other</option>

        </select>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@{
    ViewBag.Title = "Add a Donation";
}

<h2>NewItem</h2>
<form>
    <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="Item Name" required/>
    </div>
    <div class="form-group">
        <label for="picture">Item Image</label>
        <input type="file" class="form-control" id="picture" />
    </div>
    <div class="form-group">
        <label for="desc">Item Description</label>
        <textarea class="form-control" id="desc" placeholder="Item Description" required></textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" required>
            <option value="" selected disabled>Select One</option>
            <option value="ticket">Ticket</option>
            <option value="art">Artwork</option>
            <option value="clothes">Clothing</option>
            <option value="other">Other</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
