
@{
    ViewBag.Title = "Payments";
}

<h2>Payments</h2>

@{
    ViewData["Title"] = "Manage Bidders";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br>
<div class="jumbotron">
    <h1>Total: $201.00</h1>
    <p>Break Down</p>
 <!-- <div class="row">
        <ul class="nav nav-pills">
            <li id="paidPill"><a href="#">Paid <span class="badge">3</span></a></li>
            <li id="notPaidPill"><a href="#">Not Paid <span class="badge">3</span></a></li>
            <li id="pendingPill"><a href="#">Pending <span class="badge">3</span></a></li>
        </ul>
    </div>-->
    <div class="row">
        <div class="col-lg-2 alert alert-dismissible alert-success" id="paidTotal">
            <strong>Paid: 3</strong><br />Total: $50.00
        </div>
        <div class="col-lg-2 alert alert-dismissible alert-info" id="pendingTotal">
            <strong>Pending: 3</strong><br />Total: $101.00
        </div>
        <div class="col-lg-2 alert alert-dismissible alert-danger" id="notPaidTotal">
            <strong>Not Paid: 3</strong><br />Total: $50.00
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <label class="control-label" for="focusedInput">Bidder Search</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <input class="form-control" id="focusedInput" onkeyup="myFunction()" type="text" placeholder="Search">
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group">
            <a href="#" class="btn btn-warning dropdown-toggle" id="Filter" data-toggle="dropdown">Filter <span class="caret"></span></a>
            <ul class="dropdown-menu" id="selectedvalue">
                <li><a href="#" id="PendingApproved">Paid/Pending Payment</a></li>
                <li><a href="#" id="Approved">Paid</a></li>
                <li><a href="#" id="Pending">Pending Payment</a></li>
                <li><a href="#" id="Disapproved">Not Paid</a></li>
                <li class="divider"></li>
                <li><a href="#" id="All">All</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-1">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</a>
    </div>
</div>
<table class="table table-striped table-hover " id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td>1</td>
            <td>Brandon</td>
            <td>Rivera</td>
            <td><a href="mailto:brandon.rivera2014@gmail.com" target="_top">brandon.rivera2014@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>N/A</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
        <tr class="active">
            <td>2</td>
            <td>Noah</td>
            <td>Sterling</td>
            <td><a href="mailto:noah.sterling@gmail.com" target="_top">noah.sterling@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>N/A</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
        <tr class="info">
            <td>3</td>
            <td>Camille</td>
            <td>Soliman</td>
            <td><a href="mailto:camille.soliman@gmail.com" target="_top">camille.soliman@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>Pending Payment</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
        <tr class="success">
            <td>4</td>
            <td>Alec</td>
            <td>Rance</td>
            <td><a href="mailto:alec.rance@gmail.com" target="_top">alec.rance@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>Paid</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
        <tr class="danger">
            <td>5</td>
            <td>First</td>
            <td>Last</td>
            <td><a href="mailto:first.last@gmail.com" target="_top">first.last@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>Not Paid</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
        <tr class="active">
            <td>7</td>
            <td>First</td>
            <td>Last</td>
            <td><a href="mailto:first.last@gmail.com" target="_top">first.last@gmail.com</a></td>
            <td>1 UNF Dr</td>
            <td>N/A</td>
            <td><a href="#" data-toggle="modal" data-target="#myModal">Edit</a></td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Bidder Form</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Fill Out Form</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Address</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputAddress" placeholder="Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Comments</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                                    <span class="help-block">List any important info.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Selects</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option>Pending Approval</option>
                                        <option>Approved</option>
                                        <option>Disapproved</option>
                                        <option>N/A</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Bidder Form</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Fill Out Form</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Address</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputAddress" placeholder="Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Comments</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                                    <span class="help-block">List any important info.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Selects</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option>Pending Approval</option>
                                        <option>Approved</option>
                                        <option>Disapproved</option>
                                        <option>N/A</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("focusedInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function(){
        $("#PendingApproved").click(function(){
            $(".warning").hide();
            $(".active").hide();
            $(".danger").hide();
            $(".info").show();
            $(".success").show();
        });
        $("#Approved").click(function(){
            $(".warning").hide();
            $(".active").hide();
            $(".danger").hide();
            $(".info").hide();
            $(".success").show();
        });
        $("#Pending").click(function(){
            $(".warning").hide();
            $(".active").hide();
            $(".danger").hide();
            $(".info").show();
            $(".success").hide();
        });
        $("#Disapproved").click(function(){
            $(".warning").hide();
            $(".active").hide();
            $(".danger").show();
            $(".info").hide();
            $(".success").hide();
        });
        $("#Inactive").click(function(){
            $(".warning").show();
            $(".active").hide();
            $(".danger").hide();
            $(".info").hide();
            $(".success").hide();
        });
        $("#All").click(function(){
            $(".warning").show();
            $(".active").show();
            $(".danger").show();
            $(".info").show();
            $(".success").show();
        });
        $("#pendingPill").click(function () {
            $("#paidTotal").hide();
            $("#notPaidTotal").hide();
            $("#pendingTotal").show();
        });
        $("#paidPill").click(function () {
            $("#paidTotal").show();
            $("#notPaidTotal").hide();
            $("#pendingTotal").hide();
        });
        $("#notPaidPill").click(function () {
            $("#paidTotal").hide();
            $("#notPaidTotal").show();
            $("#pendingTotal").hide();
        });
    });
</script>