
@{
    ViewBag.Title = "SilentAuction";
}

<h2>SilentAuction</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://brookridgepta.org/wp-content/uploads/2018/02/auction-items-1.gif">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Hello</p>
                <p><a href="#" class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">View Details</a></p>
            </div>
        </div>
    </div>
</div>
